# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environments
venv/
env/

# IDE / Editor
.idea/
.vscode/

# Jupyter / Colab Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Secrets
.env
*.env
secrets.ini
